<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Recipes List</title>
    <link href="https://https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"></script>
</head>
<body>
<h2 th:text="'Recipe List'"> Recipes List</h2>

<table class="list-group-item">
    <thead>
        <tr>
            <th>#</th>
            <th>Recipe Name</th>
            <th>Category</th>
            <th>Difficulty</th>
            <th>Prep Time (Mins)</th>
            <th>Cook Time (Mins)</th>
            <th>Serves (Persons)</th>
            <th>Ingredients</th>
            <th>Direction</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="recipe : ${recipes}">
            <td th:text="${recipe.getId()}"></td>
            <td th:text="${recipe.getDescription()}"></td>
            <td th:text="${recipe.getCategories()}"></td>
            <td th:text="${recipe.getDifficulty()}"></td>
            <td th:text="${recipe.getPrepTime()}"></td>
            <td th:text="${recipe.getCookTime()}"></td>
            <td th:text="${recipe.getServings()}"></td>
            <td th:text="${recipe.getIngredients()}"></td>
            <td th:text="${recipe.getDirections()}"></td>
            <a th:href="@{${recipe.getUrl()}}"><td th:text="${recipe.getUrl()}"></td></a>
        </tr>
    </tbody>

</table>

</body>
</html>